body {
    background: #FFFBF3;
    font-family:'Verdana', Arial, sans-serif;
    font-size: 20px;
}

.topnav, .header {
    background: #5998A3;
    text-align: center;
    margin: -8px -10px 0px -8px;
    width: 100%;
    padding:10px;
    color: #030909; 
    text-decoration: none;
}

.main-title{
    text-align: center;
}

.topnav a.active {
    color: #030909;
    text-decoration: none;
    background: transparent;
    font-weight: bold;
}

.topnav a {
    color: #030909;
    text-decoration: none;
    padding: 5px;
    position: relative;
}

.topnav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #030909;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topnav a:hover:after {
    width: 100%;
    left: 0;
}

h3 {
    text-align: center;
}

.clear-checklist {
    margin-top: 10px;
    background-color: #5998A3;
    color: #030909;
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
    border-color: #5998A3;
}

input[type="checkbox"] {
    accent-color: #5998A3; 
}

.image-sequence {
    max-width: 50vw; 
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.slide-images {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FFFBF3;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color:#bbb;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #030909;
}

.text{
    color: #030909;
    margin-top: -25px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-family:'Verdana', Arial, sans-serif;
}

.numbertext {
    color: #030909;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: 'Verdana', Arial, sans-serif;
}

.slideshow-progress {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #030909;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.drag-and-drop {
    display:flex;
    width: 100%;
    justify-content: center;
}

.drag-container, .drop-container {
    margin: auto;
    margin: 10px;
    float: left;
    border: 2px solid #030909;
    display: flex;
    flex-wrap: wrap;   
    padding: 10px;
    width: 90%;
    justify-content: space-evenly;
}

.drop-container {
    margin-left: 20px;  
}

.drag-image {
    height: 200px;
    max-width: 100%;
    object-fit: scale-down;
}

.drag-text {
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}

.drag-piece {
width: 200px;
float: left;
margin: 5px;
}

.drop-placeholder {
width: 225px;
float: left;
border: 1px solid #030909;
margin: 5px;
text-align: center;
min-height: 240px;
}
